  <div class="container">
    <h2>Editar Articulo</h2>
    <%= render 'form' %>
    <div class="col-xs-12">
      <%= link_to 'Ver', @article,class:"btn btn-success"%> |
      <%= link_to 'Regresar', articles_path,class:"btn btn-danger" %>
    </div>
    <br/>
    <br/>
  </div>
