<div class="container">

  <h1>Editar Articulo</h1>

  <%= render 'form' %>

  <div class="">
    <%= link_to 'Ver', @article,class:"btn btn-success"%> |
    <%= link_to 'Regresar', articles_path,class:"btn btn-danger" %>
  </div>
  <br/>
  <br/>
</div>
