<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Nueva Seccion de Sistema C.H</h1>

      <%= render 'form' %>

      <%= link_to 'Regresar', sections_path,class:"btn btn-danger" %>
    </div>
    <aside class="col-md-3 hidden-xs hidden-sm">
      <h4>Servicios</h4>
      <div class="list-group">
        <a href="#" class="list-group-item active">Curiosidades</a>
        <a href="#" class="list-group-item">Computadoras</a>
        <a href="#" class="list-group-item">Celulares</a>
        <a href="#" class="list-group-item">Diseño Web</a>
      </div>

      <h4>Articulos Recientes</h4>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          No tengo mas Patria que tu Corazon
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita repellendus animi.
        </p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          todo comienzo es dificil
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, sunt, tempora. Labore aperiam.
        </p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          Inicia porque de lo contrario no terminaras
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugit tenetur, quibusdam.
        </p>
      </a>
    </aside>
  </div>
</div>
