<div class="container">
  <h1>Editando Recorrido</h1>

  <%= render 'form' %>

  <div class="col-xs-12">
    <%= link_to 'Ver', @recorrido,class:"btn btn-success" %> |
    <%= link_to 'Regresar', recorridos_path,class:"btn btn-danger" %>
  </div>
  <br>
  <br>
</div>
